{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
	<div class="pageoff" style="text-align:center;">
		<h1>错误的页面或者活动已经结束。</h1>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}