{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
	<div class="pageoff" style="text-align:center;">
		<h1>抱歉，您访问的页面不存在或者商品已经下架。</h1>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}